@font-face {
  font-family: 'iconfont';  /* project id 552305 */
  src: url('//at.alicdn.com/t/font_552305_5vsnvqxajn5c23xr.eot');
  src: url('//at.alicdn.com/t/font_552305_5vsnvqxajn5c23xr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_552305_5vsnvqxajn5c23xr.woff') format('woff'),
  url('//at.alicdn.com/t/font_552305_5vsnvqxajn5c23xr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_552305_5vsnvqxajn5c23xr.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:1em;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before { content: "\e666"; }
.icon-eye:before { content: "\e61f"; }
.icon-comment:before { content: "\e607"; }
.icon-like:before { content: "\e616"; }
.icon-list:before { content: "\e679"; }
.icon-close:before {content: "\e603"; }

